.setting {
  display: flex;
}

.settingWrapper {
  flex: 9;
  padding: 20px;
}

.settingTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.settingUpdateTitle {
  color: teal;
  cursor: pointer;
}

.settingDeleteTitle {
  color: tomato;
  cursor: pointer;
}

.settingForm {
  display: flex;
  flex-direction: column;
}

.settingPP {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.settingPP > img {
  width: 70px;
  height: 70px;
  border-radius: 20px;
  object-fit: cover;
}

.settingPPIcon {
  font-size: 20px;

  widows: 30px;
  height: auto;
  border-radius: 50%;
  background-color: #83018E;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 8px;
  cursor: pointer;
}

.settingForm > label {
  font-style: 20px;
  margin-top: 20px;
}

.settingForm > input {
  color: gray;
  margin: 10px 0;
  height: 30px;
  border: none;
  border-bottom: 1px solid lightgray;
} 

.settingSubmit {
  width: 150px;
  align-self: start;
  border: none;
  border-radius: 10px;
  color: white;
  background-color: #83018E;
  padding: 10px;
  margin-top: 20px;
  cursor: pointer;
}